.login{
  display: flex;
  justify-content: center;
}
.login-page{
  border: 1px solid rgba(16, 31, 60, 0.25);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  padding: 0 60px 0 60px;
}
.login-form{
  display: flex;
  flex-direction: column;
  align-items: flex-start !important;
}
.form-group{
  justify-content: flex-start;
  width: 500px;
}
.login-button{
  background: #101F3C;
  color: #fff;
  border-radius: 5px;
  width: 179px;
  height:44px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;


}
